{% extends 'base.html' %}

{% block content %}
  <form class="form" method="post">
    {% csrf_token %}
    <div>
      <label for="cuenta">Nombre de la cuenta</label>
      <input type="text" name="cuenta" placeholder="Nombre de la cuenta" class="input" required />
    </div>
    <div>
      <label for="tipo">Tipo de cuenta (Ahorro, cuenta corriente o credito)</label>
      <input type="text" name="tipo" placeholder="Tipo de cuenta" class="input" required />
    </div>
    <div>
      <label for="saldo">Saldo</label>
      <input type="number" name="saldo_actual" placeholder="Saldo actual" class="input" step="0.01" required />
    </div>
    <div style="padding-top: 5%;">
      <button class="button" type="submit">Guardar</button>
    </div>
  </form>
  <table>
    <tr>
      <th>Ingreso</th>
      <th>Fecha</th>
      <th>Saldo</th>
    </tr>
    {% for account in accounts %}
      <tr>
        <td>{{ account.0 }}</td>
        <td>{{ account.1 }}</td>
        <td>{{ account.2 }}</td>
        <td>
          <form method="post">
            {% csrf_token %}
            <button type="button" onclick="location.href='{% url 'editar_cuenta' account.3 %}'" class="editar-btn">Editar</button>
            <button class="eliminar-btn" type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
