{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presupuesto</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/edit_transaction.css' %}" />
    <link rel="stylesheet" href="{% static 'css/transacciones.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/add_account.css' %}" />
    <link rel="stylesheet" href="{% static 'css/edit_account.css' %}" />
  </head>
  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>
